* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #000;
}
.nav {
    background-color: #FDEF7B;
    height: 100px;
}
.container {
    background-color: gray;
    position: relative;
    margin-top: 10%;
}



.mountainbox {
    background-color: gray;
    width: 1000px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
}
.mountain-img {
    width: 100px;
    position: absolute;
    left: 95%;
}



.feed-nav {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    margin-top: 130px;
    width: 1000px;
    height: 60px;
    border-bottom: 1px solid #C9C0AE;
}
.keywordbox {
    background-color: greenyellow;
    position: absolute;
    left: 1%;
}
a.keyword {
    margin-right: 15px;
    color: gray;
}
a.keyword:hover {
    color: gray;
    font-weight: bold;
    border: 1px solid grey;
    padding: 5px 10px;
}
/* 키워드 선택시 박스 처리 */



.searchbox {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 92%;
    top: 10px;
    width: 150px;
    height: 25px;
    border: 1px solid #C9C0AE;
    border-radius: 10px;
}
input {
    border: 0;
    width: 100px;
    height: 25px;
    outline: none;
    border-radius: 8px;
    margin-left: 10px;
    color: #C9C0AE;
}
button {
    border: 0;
    width: 40px;
    height: 25px;
    background-color: #00ff0000;
    float: right;
}
.search {
    width: 23px;
    float: right;
    margin-right: 5px;
}



.feedbox {
    width: 1000px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 820px;
}
.feedbox>div {
    display: flex;
    justify-content: space-between;
}
.feed-size {
    width: 310px;
    height: 310px;
}
.feed {
    position: relative;
    margin-bottom: 80px;
}
/* 사이즈 맞춰 자르기 추가 */
.feed-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}
.feed-nickname {
    position: absolute;
    font-size: 20px;
    top: 330px;
    left: 10px;
}

/* 좋아요 누르면 이미지 변경 */
.like-img {
    width: 35px;
    position: absolute;
    right: 10px;
    /* bottom: 0px; */
}



.pages {
    width: 300px;
    top: 1500px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.page {
    padding: 15px;
    /* color: gray; */
}
/* 현재 페이지 표시 */
.page:hover {
    font-weight: bold;
}



.footerbox {
    width: 100%;
    height: 280px;
    position: absolute;
    top: 1750px;
    background-color: #C9C0AE;
}
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}
a.category {
    color: white;
    font-weight: bold;
    font-size: 17px;
    line-height: 2;
}
a.content {
    color: white;
    padding-top: 30px;
    line-height: 1.5;
}