* {
    padding: 0;
    margin: 0;

}

body {
    background-color: #f0f2f5;
}

#main {
    height: 700px;
    /* width: 80vw; */
    position: relative;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50% );
}

#logo {
    width: 300px;
}
.fb_logo h2 {
    margin-right: 50px;
}

.loginbox {
    text-align: center;
}

.loginbox .formArea{
    background-color: #fff;
    border:1px solid #f5f6f7;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #ddd;
    margin-bottom: 30px;
    padding: 20px;
}

.loginbox .formArea input, .loginbox .formArea .btn-login{
    width: 95%;
    margin: 5px 0;
    height: 50px;
    font-size: 15px;
    border-radius: 5px;
}

.loginbox .formArea input{
    border: 1px solid #dddfe2;
    color: #1d2129;
    padding: 0 8px;
}

.loginbox .formArea .btn-login{
    background-color: #1877f2;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    padding: 0px;
    color: #fff;
    font-weight: 700;
}

.loginbox .formArea a {
    display: block;
    color: #1877f2;
    font-size: 13px;
    text-decoration: none;
    padding: 10px 0 20px;
}

.loginbox .formArea .newid {
    border-radius: 5px;
    font-size: 15px;
    line-height: 45px;
    padding: 0 15px;
    color: #fff;
    background-color: #42b72a;
    border: none;
    width: 100px;
    margin: 0 auto;
}

.loginbox p a {
    text-decoration: none;
    color: grey;
}

footer {
    height: 30vh;
    background-color: #fff;
}

.footerArea {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
}

footer ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 10px 0;
}

footer ul:first-child {
    border-bottom: 1px solid #dadde1 ;
}

footer ul:first-child li:last-child button{
    background-color: #f5f6f7;
    border: 1px solid #ccd0d5;
    outline: none;
    color: #4b4f56;
    padding: 0 8px;
    font-weight: 700;
    font-size: 16px;
}

footer ul li {
    padding-right: 15px;
    font-size: 12px;
}

footer ul li a {
    text-decoration: none;
    color: #4b4f56;
}

footer ul li a:hover {
    text-decoration: underline;
}

footer small {
    font-size: 11px;
}