<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.bitcamp.orl.crew.dao.CrewDao">
	<!-- Select 의 결과를 매핑하는 설정 -->
	<resultMap id="crewListResult"
		type="com.bitcamp.orl.crew.domain.Crew">
		<id column="crewIdx" property="crewIdx" />
		<result column="crewName" property="crewName" />
		<result column="crewPhoto" property="crewPhoto" />
		<result column="crewDiscription" property="crewDiscription" />
		<result column="crewCreatedate" property="crewCreatedate" />
		<result column="crewTag" property="crewTag" />
		<result column="memberIdx" property="memberIdx" />
	</resultMap>
	
	
	<!-- 내가 가입한 크루 리스트 세라 -->
	<select
	id="selectMyCrewListinFeed"
	resultMap="crewListResult">
		select * 
		from final.crew
		where crewIdx in ( select crewIdx from final.member natural join final.crewreg where memberIdx = #{memberIdx});
	</select>
	
	
	<!-- 해당 크루 하나 선택 -->
	<select
	id="selectCrew"
	resultType="com.bitcamp.orl.crew.domain.Crew">
		select * from crew where crewIdx = #{crewIdx}
	</select>
	
	<!-- 해당 크루의 크루원 수 -->
	<select
	id = "selectCrewMemberNum"
	resultType="int">
		select count(*) from crewreg where crewIdx = #{crewIdx}
	</select>
	
	<!-- 해당 크루의 댓글 수 -->
	<select
	id= "selectCrewCommentNum"
	resultType="int">
		select count(*) from crewComment where crewIdx = #{crewIdx}
	</select>
	
	<!-- 해당 크루에 내가 가입되어있는 지 여부 확인 -->
	<select
	id = "selectCountMemberToRegCrew"
	resultType="int">
		select count(*) from crewreg where memberIdx = #{memberIdx} and crewIdx = #{crewIdx};
	</select>
	
</mapper>