@charset "UTF-8";

* {
    padding: 0%;
    margin: 0%;
}
a {
    text-decoration: none;
    color: #000;
}
button, input {
    border: 0;
    background-color: #00ff0000;
}
button:hover, input:hover, a:hover {
    cursor: pointer;
}
.container {
    display: flex;
    position: relative;
    width: 1000px;
    height: 650px;
}
.nickname {
    font-weight: bold;
}
/* .container>button {
    닫기 버튼
} */
.container>button>img {
    position: absolute;
    margin: 10px;
    right: 0;
    top: 0;
    width: 20px;
}



.leftbox {
    width: 55%;
    position: relative;
}
    .leftbox>img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .leftbox>button>img {
        position: absolute;
        bottom: 2%;
        right: 2%;
        width: 30px;
    }



.rightbox {
    width: 45%;
    display: flex;
    flex-direction: column;
}
    .profile {
        position: relative;
        height: auto;
    }
        .photo { /* 위치 조정 */
            width: 60px;
            height: 60px;
            border-radius: 50%;
        }
            .profile img {
                margin: 30%;
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
                padding: 3px;
                border: 1px solid #C9C0AE;
            }
        .profile>a {
            position: absolute;
            left: 110px;
            top: 40px;
        }
        .profile>button {
            position: absolute;
            left: 210px;
            top: 39px;
            color: #00acee;
            font-weight: bold;
            font-size: 15px;
        }
    
    .contents {
        padding-top: 8px;
        padding-right: 20px;
        padding-bottom: 20px;
        overflow: hidden;
        height: auto;
        padding-bottom: 20px;
    }
        .contents>p {
            padding-left: 25%;
            line-height: 1.5;
            font-size: 15px;
        }
        .contents>div {
            padding-top: 5px;
            padding-left: 25%;
        }
        .contents a {
            color: grey;
            font-size: 15px;
        }


.commentbox {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    border-top: 1px solid #C9C0AE;
}
.comments {
    position: relative;
    overflow: auto;
    display: flex;
}
.cmt-profile {
    /* 위치 조정 */
}
    .cmt-profile>button {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    .cmt-profile img {
        margin: 40%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
        padding: 3px;
        border: 1px solid #C9C0AE;
    }
    .comment {
        padding-left: 50px;
        padding-top: 33px;
        padding-right: 20px;
        line-height: 1.4;
        font-size: 15px;
        overflow: hidden;
        height: auto;
    }
    .nickname {
        padding-right: 10px;
    }



.commentingbox {
    display: flex;
    flex-direction: column;
    bottom: 0;
    height: 180px;
    border-top: 1px solid #C9C0AE;
}
    .buttonline {
        display: flex;
        position: relative;
        justify-content: space-between;
        border-bottom: 1px solid #C9C0AE;
        padding-bottom: 5px;
    }
        .buttonline button {
            position: absolute;
            top: 10px;
        }
        .like {
            left: 20px;
        }
        .write {
            left: 65px;
        }
        .share {
            left: 110px;
        }
        /* 좋아요 클릭시 누른 사람 목록 */
        /* 댓글버튼 -> 댓글로 커서 이동 */


        .buttonline img {
            position: absolute;
            width: 25px;
            /* padding-left: 15px; */
            /* padding-bottom: 5px; */
        }
        .likeline {
            padding-top: 16px;
            padding-right: 20px;
        }
        .likeline>p {
            padding-bottom: 5px;
        }



.commentingline {
    display: flex;
    justify-content: space-between;
    height: 100%;
}
    .textbox {
        width: 85%;
    }
        .textbox>input {
            margin-left: 5%;
            outline: none;
            width: 95%;
            height: 100%;
            font-size: 17px;
        }   
    .submitbox {
        width: 15%;
    }
        .submitbox>input {
            color: #00acee;
            font-weight: bold;
            font-size: 15px;
            width: 100%;
            height: 90%;
            padding-top: 10px;
        }